.App {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.App-header {
  min-height: 100vh;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-beta{
  text-align: right;
  padding-right: 1em;
  font-size: 10px;
  color: white;
}

.UserIn {
  padding-top: 8em;
  padding-bottom: 3em;
  
}
