.UserIn {
    background-image: url("../../images/main1_background.png");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    margin-top: -2em;
    padding-top: 5.5em;
  }

  .TrackData {
    background-image: url("../../images/main2_background.PNG");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30em;
    min-height: 100vh;
  }

  .UserBox {
    background: rgba(40, 44, 52, 0.7);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px black;
    display: inline-block;
    text-align: center;
    width: 15em;
    height: 12em;
    
}

.Top {
  position: absolute;
  right: 0px;
  padding-right: 20px;
  padding-top: 2em;
  color: rgb(40, 44, 52);
}

.lyricIn {
  border: none;
  background-color: inherit;
  border-bottom: 2px solid rgba(245, 245, 245, 0.582);
  outline: none;
  width: 15em;
  font-size: 14px;
  color: whitesmoke;
}

.clearIn {
  background-color: inherit;
  outline: none;
  color: whitesmoke;
  border: none;
  border-bottom: 2px solid rgba(245, 245, 245, 0.582);
  font-size: 14px;
}

.sendLyrics {
  background-color: inherit; 
  color: white; 
  border: 2px solid rgba(245, 245, 245, 0.582);
  transition: 0.4s;
  width: 100px;
  height: 30px;
}

.sendLyrics:hover {
  background-color:rgb(40, 44, 52);
  color: white;
}

.typed {
  font-family: 'Segoe UI';
}

  @media screen and (min-width: 862px){

    .UserIn {
      background-image: url("../../images/main1_background.png");
  
      /* Full height */
      height: 100%; 
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      min-height: 100vh;
      margin-top: 4px;
      padding-top: 5.5em;
    }

    .UserBox {
      background: rgba(40, 44, 52, 0.7);
      border: 1px solid black;
      padding: 10px;
      box-shadow: 5px 10px black;
      display: inline-block;
      text-align: center;
      width: 30em;
      height: 15em;
      
  }

    .Top {
      position: absolute;
      right: 0px;
      padding-right: 20px;
      margin-top: -3em;
      color: whitesmoke;
    }

    .lyricIn {
      border: none;
      background-color: inherit;
      border-bottom: 2px solid rgba(245, 245, 245, 0.582);
      outline: none;
      width: 30em;
      font-size: 14px;
      color: whitesmoke;
    }
    
    .clearIn {
      background-color: inherit;
      outline: none;
      color: whitesmoke;
      border: none;
      border-bottom: 2px solid rgba(245, 245, 245, 0.582);
      font-size: 14px;
    }
    
    .sendLyrics {
      background-color: inherit; 
      color: white; 
      border: 2px solid rgba(245, 245, 245, 0.582);
      transition: 0.4s;
      width: 100px;
      height: 30px;
    }
    
    .sendLyrics:hover {
      background-color:rgb(40, 44, 52);
      color: white;
    }
    
    .typed {
      font-family: 'Segoe UI';
    }

}
