.UserIn {
    background-image: url("../../images/main1_background.png");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    margin-top: 6px;
    padding-top: 5.5em;
  }

  .TrackData {
    background-image: url("../../images/main2_background.PNG");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30em;
    min-height: 100vh;
  }

  .UserBox {
      background: rgba(40, 44, 52, 0.7);
      border: 1px solid black;
      padding: 10px;
      box-shadow: 5px 10px black;
      display: inline-block;
      text-align: center;
      width: 30em;
      height: 15em;
      
  }

  .Top {
    position: absolute;
    right: 0px;
    padding-right: 80px;
  }
