.TC {
    background-image: url(../../images/TorontoSkyline.jpg);
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    margin-top: 6px;
    padding-top: 5.5em;
}

.charts{
    align-self: center;
    background: rgba(40, 44, 52, 0.7);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px black;
    display: inline-block;
    text-align: center;
    width: 15em;
    height: 10em;
    overflow: scroll;
}

.title {
    margin-top: -3em;
}

.Track {
    background: rgba(40, 44, 52, 0.7);
    width: 13em;
    height: 8em;
    margin-left: 1em;
    margin-top: 1em;
}

.cover {
    width: 80px;
    height: 80px;
    float: left;
    padding-left: 1em;
    padding-top: 1.7em;
}

.name {
    font-size: 15px;
    font-family: 'Lucida Sans';
}

.artist {
    font-size: 0.70em;
    font-family: 'Arial Narrow';
}

.rank {
    float: right;
    font-size: 0.8em;
    margin-top: -0.1mm;
    padding-right: 1em;
    color: rgba(247, 247, 247, 0.514);
    font-family: 'Lucida Sans';
}

.content {
    padding-top: 3mm;
    font-family: fantasy;
}

@media screen and (min-width: 862px){

    .charts{
        background: rgba(40, 44, 52, 0.7);
        border: 1px solid black;
        padding: 10px;
        box-shadow: 5px 10px black;
        display: inline-block;
        text-align: center;
        width: 29em;
        height: 20em;
        overflow: scroll;
    }
    .charts::-webkit-scrollbar { 
        display: none;
    }

    .Track {
        background: rgba(40, 44, 52, 0.7);
        width: 27em;
        height: 10em;
        margin-left: 1em;
        margin-top: 1em;
    }

    .cover {
        width: 200px;
        height: 200px;
        float: left;
        padding-left: 1em;
        padding-top: 1em;
    }

    .name {
        font-size: 25px;
        font-family: 'Lucida Sans';
    }

    .artist {
        font-size: 0.70em;
        font-family: 'fantasy';
    }

    .rank {
        float: right;
        font-size: 1.7em;
        margin-top: 0.1em;
        padding-right: 1em;
        color: rgba(247, 247, 247, 0.514);
        font-family: 'Lucida Sans';
    }

    .content {
        padding-top: 2em;
        font-family: fantasy;
    }
}