.trending {
    background-image: url(../../images/trending.jpeg);

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    padding-top: 14em;
}

.plate {
    width: 16em;
    height: 24em;
    border-radius: 25px;
    background-color: #282c34;
    margin-left: 2em;
    margin-top: -13em;
    padding-bottom: 20px;
    overflow: scroll;
    display: inline-block;
}

.plate::-webkit-scrollbar {
    display: none;
}

.headimg {
    width: 16em;
    height: 8em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.Track-trending {
    background-color: rgba(0, 0, 0, 0.199);
    margin-left: -1px;
    width: 14em;
    height: 4em;
    display: inline-block;
    /* overflow: hidden; */
    margin-top: 1em;
}

.cover-trending {
    margin-top: -12px;
    margin-left: -3%;
    width: 3em;
    height: 3em;
    float: left;
    padding-left: 1em;
    padding-top: 1em;

}

.image-track {
    display: inline;
}

.playbutton {
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid rgb(8, 189, 8);
    margin-top: -2em;
    margin-left: 7em;
    transition: ease-in-out 0.1s; 
}

.playbutton:hover {
    background-color: rgb(8, 189, 8);
    transition: ease-in-out 0.01s; 
}

.arrow-right {
    margin-top: 9px;
    margin-left: 7px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px transparent;
    border-right: 15px solid white;
    transform: rotateZ(-45deg)
}

.name-trending {
    position: absolute;
    margin-left: 8em;
    font-size: 12px;
}

.artist-trending {
    position: absolute;
    font-size: 12px;
    margin-left: 8em;
    margin-top: 3.5em;
}

.track-data-trending {
    
    position: relative;
    width: 14em;
    height: 2.5em;
}