.UserIn {
    background-image: url("../images/IMG_0135.PNG");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    margin-top: 6px;
    padding-top: 5.5em;
  }

  .TrackData {
    background-image: url("../images/IMG_0136.PNG");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30em;
    min-height: 100vh;
  }

  .UserBox {
      background: rgba(40, 44, 52, 0.7);
      outline-style: solid;
      outline-color:rgba(255, 255, 255, 0.712);
      outline-width: 0.08em;
      display: inline-block;
      text-align: center;
      width: 30em;
      height: 15em;
      
  }

  .Top {
    position: absolute;
    right: 0px;
    padding-right: 80px;
  }
