.about {
    background-image: url(../../images/about.jpeg);

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    padding-top: 13em;
}

.Main {
    width: 450px;
    height: 100px;
    margin-top: -3em;
    margin-left: 17em;
    display: block;
    position: relative;
    overflow: hidden;
}

.Main[move='1'] {
    animation: fadeOut ease-out 1s;
}

.Hello {
    display: inline-block; 
}

.Next {
    padding-left: 1em;
    display: inline;
    color: mediumblue;
}

.options {
    display: block;
    position: relative;
    margin-top: -3em;
    animation: fadeIn ease-in 1s;
}

.software {
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 130px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.work {
    margin-left: 1em;
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 210px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.projects {
    margin-left: 1em;
    padding-left: 1.5px;
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 120px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.education {
    margin-left: 1em;
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 140px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.contact {
    margin-left: 1em;
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 120px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.software:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.work:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.projects:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.education:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.contact:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.fade-in {
    animation: fadeIn ease-in 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}