.about {
    background-image: url(../../images/about.jpeg);

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    padding-top: 13em;
}

.Main {
    width: 450px;
    height: 100px;
    margin-top: -3em;
    margin-left: 17em;
    display: block;
    position: relative;
    overflow: hidden;
}

.Main[move='1'] {
    animation: move 2s 1;
}

@keyframes move {
    0%   {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
    100% {background-color:rgba(255, 0, 0, 0); left:300px; top:0px;}
}

.Hello {
    display: inline-block; 
}

.Next {
    padding-left: 1em;
    display: inline;
    color: mediumblue;
}