.about {
    background-image: url(../../images/about.jpeg);

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    padding-top: 13em;
}

.Main {
    width: 450px;
    height: 100px;
    margin:auto;
    margin-top: -3em;
    overflow: hidden;
}

.Main[move='1'] {
    animation: fadeOut ease-out 0.5s;
}

.Hello {
    display: inline-block;
    transition: 1s; 
}

.Hello:hover{
    color: mediumblue;
    cursor: pointer;
}

.Next {
    float: right;
    margin-top: 5em;
    margin-right: 2em;
    color: mediumblue;
    cursor: pointer;
    border: 3px solid mediumblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: ease-out 0.4s;
    animation: fadeIn ease-in 1s;
}

.Next:hover {
    background-color: mediumblue;
    transition: all ease 0.4s;
}

.a1 {
    margin-top: 18px;
    width: 18px;
    border-bottom: 8px solid white;
    transform: skewY(-45deg);
    display: inline-block;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.397)
}

.a2 {
    margin-top: 18px;
    width: 18px;
    border-bottom: 8px solid white;
    transform: skewY(45deg);
    display: inline-block;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.397)
}

.options {
    display: block;
    position: relative;
    margin-top: -3em;
    animation: fadeIn ease-in 1s;
}

.software {
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 130px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.work {
    margin-left: 1em;
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 210px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.projects {
    margin-left: 1em;
    padding-left: 1.5px;
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 120px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.education {
    margin-left: 1em;
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 140px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.contact {
    margin-left: 1em;
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 120px;
    height: 35px;
    padding-top: 2.6px;
    transition: 0.4s;
    color: whitesmoke;
}

.software:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.work:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.projects:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.education:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.contact:hover {
    background-color: rgba(103, 178, 221, 0.993);
    cursor: pointer;
    box-shadow: 5px 10px black;
}

.fade-in {
    animation: fadeIn ease-in 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.panel {
    margin-top: -6em;
    margin-left: 12em;
    width: 650px;
    height: 280px;
    border: 2px solid whitesmoke;
    animation: fadeIn ease-in 1s;
    box-shadow: 2mm 2mm rgba(0, 0, 0, 0.171);
    overflow: scroll;
}

.panel::-webkit-scrollbar { 
    display: none;
}

.panel[fadeout="1"] {
    animation: fadeOut ease-out 1s;
}

.webdev {
    display: inline;
}

.webexp {
    margin-left: 5px;
    font-size: 16px;
    display: inline-block;
    transition: 00.4s;
}

.webexp:hover {
    font-size: 20px;
    font-weight: bold;
    color: mediumblue;
    transition: 0.4s;
}

.top {
    margin-top: -0.5em;
}